<!DOCTYPE html>
<html>
<head>
    <title>The Snippets App!</title>
    <link rel="stylesheet" href="/hh222ix-examination-2/public/stylesheet.css">
</head>
<body class="theme_grey">
{{{ body }}}


</body>
</html>
