{{#if error}}
    <p>
        Error: {{error}}
    </p>
{{/if}}

<div class="container">
    <form class="col s12" action="/login" method="post">
        <div>
            <label for="login_id">Login ID: </label>
            <input type="text" name="username" id="login_id">
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="password" name="password" id="password">
        </div>
        <button class="btn red lighten-2" type="submit">Login</button>
    </form>
</div>
