<form>
    <div>
        <label for="login_id">Login ID: </label>
        <input type="text" id="login_id">
    </div>
    <div>
        <label for="password">Password: </label>
        <input type="text" id="password">
    </div>
    <button type="submit">Register</button>
</form>
