<form>
    <div>
        <label for="login_id">New Login ID: </label>
        <input type="text" id="login_id">
    </div>
    <div>
        <label for="password">New Password: </label>
        <input type="text" id="password">
    </div>
    <button type="submit">Register</button>
</form>
