{{#if error}}
    <p>
        Error: {{error}}
    </p>
{{/if}}

<form class="" action="/register" method="post">
    <div>
        <label for="login_id">New Login ID: </label>
        <input type="text" name="username" id="login_id" placeholder="Enter your unique ID">
    </div>
    <div>
        <label for="password">New Password: </label>
        <input type="text" name="password" id="password" placeholder="At least 6 characters">
    </div>
    <button type="submit">Register</button>
</form>
