<!-- The view when the user is logged in -->
<nav>
    <ul>
        <li><a href="/hh222ix-examination-2/views/home/indexNotLoggedIn.hbs">Login</a></li>
    </ul>
</nav>

<!--TODO:Add the view for logged in
